.App {
  text-align: center;
}

.header-content {
  background-color: #282c34;
  color: white;
}
.posts {
  margin-top: 3.5rem;
  margin-left: 40%;
  width: 60%;
}

/* Input forms */
.tifa {
  width: 55%;
  margin: 13%;
}
